*{
    margin:0;
    padding:0;
    color:inherit;
    list-style: none;
    text-decoration: none;
}

header .wrap{
    width: 980px;
    height: 78;
    margin: 0 auto;
    position: relative;
}

header .gnb{
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .gnb li{
    margin-left: 20PX;
    background-image: url(../images/line.jpg);
    background-repeat: no-repeat;
    padding-left: 21PX;
}

header .gnb li:first-child{
    background-image: none;
}

.banner { 
height: 600px;
background-image: url(../images/slider1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: top center;

}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
    /* font-size: 0; */
    text-indent: -9999999px; /*들여쓰기*/
}

.info .wrap{
    width: 980px;
    margin: 0 auto;
}

.info .con{
    display: flex;
}

.info .wrap h3{
    text-align: center;
    font-size: 24px;
    color: #b3917c;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.info h3 span{
    font-weight: 900;
}

.info .con div{
    width: 33.33%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 13px;
}

.info .con h5{
    margin: 14px 0 0;
    font-size: 18px;
}
.gall{
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 40px ;
}

.gall .wrap{
    width: 980px;
    margin: 0 auto;
}

.gall .con{
    display: flex;
}

.gall .thumb{
    display: flex;
    /* justify-content: space-between; */
    width: 481px;
    flex-wrap: wrap;
    margin: 5px;
}

.gall .thumb div{
    width: 157px;
    height: 130px;
}

.gall .thumb img{
    width: 100%;
    height: 100%;
}

footer{
    background-color: #171717;
    color: #ababab;
}

footer .wrap{
    display: flex;
    width: 980px;
    margin: 0 auto;
}

footer .wrap > div{
    width: 326px;
}

footer h4{
    font-size: 20px;
    color: #b3917c;
}

footer .con h5{
    color: #ffff00;
}

footer .con .time{
    margin-top: 15px ;
    font-weight: bold;
}

footer .con address{
    font-size: 12px;
    color: #ababab;
    font-style: normal ;
}

footer .news li{
    font-size:  12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer .news li::before{
    content: '·';
    margin-left: 5px ;
}

footer .news li:hover a{
    text-decoration: underline;
}

footer .sns ul{
    display: flex;
}

footer .sns li{
    margin-right: 10px;
}
